// colors
// variables
$body-bg-color1: #3a5763; // Deep Space Sparkle
$body-bg-color2: #ffffff; // White
$body-bg-color3: #f3722c; // Orange Red

$heading1-color: #90be6d; // Pistachio
$heading2-color: #43aa8b; // Zomp
$heading3-color1: #43aa8b; // Zomp
$heading3-color2: #ffffff; // White
$heading3-color3: #264653; // Charcoal
$heading3-color4: #f3722c; // Orange Red
$heading3-color5: #f94144; // Red Salsa
$heading3-color6: #f9c74f; // Maize Crayola

$paragraph-color1: #ffffff; // White
$paragraph-color2: #3a5763; // Deep Space Sparkle
$paragraph-color3: #90be6d; // Pistachio

$paragraph-bg-color1: #ffffff; // White
$paragraph-bg-color2: #43aa8b; // Zomp
$paragraph-bg-color3: #90be6d; // Pistachio
$paragraph-bg-color4: #f94144; // Red Salsa

$border-color1: #43aa8b; // Zomp
$border-color2: #f8961e; // Yellow Orange Color Wheel
$border-color3: #90be6d; // Pistachio
$border-color4: #f94144; // Red Salsa
$border-color5: #ffffff; // White
$border-color6: #f3722c; // Orange Red
$border-color7: #3a5763; // Deep Space Sparkle

$button-unclicked-bg-color: #264653; // Charcoal
$button-clicked-bg-color: #3a5763; // Deep Space Sparkle
$button-hover-bg-color: #ffffff; // White
$button-selected-bg-color: #ffffff; // White

$button-unvisited-link-color: #ffffff; // White
$button-visited-link-color: #90be6d; // Pistachio
$button-hover-link-color: #264653; // Charcoal
$button-selected-link-color: #f94144; // Red Salsa

$li-text-color: #ffffff; // White 

$paragraph-unvisited-link-color1: #ffffff; // White
$paragraph-unvisited-link-color2: #3a5763; // Deep Space Sparkle
$paragraph-visited-link-color: #264653; // Charcoal
$paragraph-hover-link-color: #f9c74f; // Maize Crayola
$paragraph-selected-link-color: #f94144; // Red Salsa


body {
    background-color: $body-bg-color1;
}

h1 {
    color: $heading1-color;
}

h2 {
    background-color: $body-bg-color2;
    color: $heading2-color;
    border-top: 1px solid $border-color1;
	border-right: 1px solid $border-color1;
	border-bottom: 1px solid $border-color1;
	border-left: none;
}

.preamble h3 {
    color: $heading3-color1;
}

.explanation h3 {
    color: $heading3-color2;
}

.participation h3 {
    color: $heading3-color3;
}

.benefits h3 {
    color: $heading3-color4;
}

.requirements h3 {
    color: $heading3-color5;
}

h3.select {
    color: $heading3-color6;
}

h3.archives {
    color: $heading3-color2;
}

h3.resources {
    color: $heading3-color3;
}

.summary p, .explanation p, .participation p, .requirements p:last-child {
    color: $paragraph-color1;
}

.preamble p, .requirements p {
    color: $paragraph-color2;
}

.benefits p {
    color: $paragraph-color3;
}

.preamble, .benefits, .requirements {
    background-color: $paragraph-bg-color1;
}

.explanation {
    background-color: $paragraph-bg-color2;
}

.participation {
    background-color: $paragraph-bg-color3;
}

.requirements p:last-child {
    background-color: $paragraph-bg-color4;
}

.preamble {
    border: 1px solid $border-color2;
}

.explanation {
    border: 1px solid $border-color1;
}

.participation {
    border: 1px solid $border-color3;
}

.benefits {
    border: 1px solid $border-color4;
}

.requirements {
    border-top: 1px solid $border-color2;
    border-right: 1px solid $border-color2;
    border-bottom: 1px solid $border-color4;
    border-left: 1px solid $border-color2;
}

.requirements p:last-child {
    border: 1px solid $border-color4;
}

.summary p:last-child, .participation, .requirements p:last-child {
    & a{
     
        // unvisited paragraph link
        &:link{
          color: $paragraph-unvisited-link-color1;
        }
     
        // visited paragraph link
        &:visited{
          color: $paragraph-visited-link-color;
        }
        
        // mouse over paragraph link
        &:hover{
          color: $paragraph-hover-link-color;
          }
    
        // selected paragraph link 
        &:active{
          color: $paragraph-selected-link-color;
        }
    
      }
}

.requirements p:nth-child(5) {
    & a{
     
        // unvisited paragraph link
        &:link{
          color: $paragraph-unvisited-link-color2;
        }
     
        // visited paragraph link
        &:visited{
          color: $paragraph-visited-link-color;
        }
        
        // mouse over paragraph link
        &:hover{
          color: $paragraph-hover-link-color;
          }
    
        // selected paragraph link 
        &:active{
          color: $paragraph-selected-link-color;
        }
    
      }
}

nav ul li {
    color: $li-text-color;
}

footer {
    background-color: $body-bg-color3;
    border: 1px solid $border-color6;

    & a{
        position: relative;
        z-index: 2;
        // unvisited button link
        &:link{
          color: $button-unvisited-link-color;
          background-color: $button-unclicked-bg-color;
          border: 1px solid $border-color5;
        }
     
        // visited button link
        &:visited{
          color: $button-visited-link-color;
          background-color: $button-clicked-bg-color;
          border: 1px solid $border-color3;
        }
        
        // mouse over button link
        &:hover{
          color: $button-hover-link-color;
          background-color: $button-hover-bg-color;
          border: 1px solid $border-color5;
          }
    
        // selected button link
        &:active{
          color: $button-selected-link-color;
          background-color: $button-selected-bg-color;
          border: 1px solid $border-color4;
        }
    
      }
}
