$breakpoint: 767px;


@media only screen and (max-width: $breakpoint) {


  

    .summary{
        background-color: grey;
    }

    .page-wrapper{ 
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: 375px;
    }










    
}